## Create Dependencies

In [1]:
import numpy as np
import pandas as pd
import datetime as dt
import os 

from config import pwd, uname

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
from sqlalchemy import Column, Integer, String, Float 
from sqlalchemy import desc

## Create Variables

In [2]:
caDataSet = os.path.join('..','DataSets','CA Weed Data.csv')
cenDataSet = os.path.join('..','DataSets','Census Data.csv')
coDataSet = os.path.join('..','DataSets','CO Weed Data.csv')
massDataSet = os.path.join('..','DataSets','Mass Weed Data.csv')
stateDataSet = os.path.join('..','DataSets','State Names and Abbr.csv')

## Establish Database Connections and Get Tables Lists

In [3]:
# create engine to postgres db
postgres = f'postgresql://{uname}:{pwd}@localhost:5432/etl_project'  #path to local db

engine = create_engine(postgres)

In [4]:
# reflect an existing database into a new model
base = automap_base()

# reflect the tables
base.prepare(engine, reflect=True)

In [5]:
# View all of the classes that automap found
base.classes.keys()

['ca_raw', 'co_raw', 'mass_raw', 'states', 'sales_by_qtr', 'census']

In [6]:
# Save references to each table
# adding these for fun and for sanity checks

caRaw = base.classes.ca_raw
coRaw = base.classes.co_raw
massRaw = base.classes.mass_raw
states = base.classes.states
sales = base.classes.sales_by_qtr
census = base.classes.census

In [7]:
# Create our session (link) from Python to the DB
session = Session(bind=engine)

## Exploratory Analysis

In [8]:
# Load data into dataframes
massRawDF = pd.read_csv(massDataSet) 
cenRawDF = pd.read_csv(cenDataSet)

In [9]:
massRawDF.head()

,activitysummarydate,total_plantimmaturecount,total_planttrackedcount,total_plantfloweringcount,total_plantvegetativecount,total_plantdestroyedcount,total_plantharvestedcount,total_plantcount,salestotal,total_active_harvestcount,total_active_packagecount,total_plantbatchcount,total_activeproducts,total_activestrains,total_employees
0,6/4/2021 0:00,140747,225685,114894,110791,231460,966667,1423812,1.658394e+09,1231,131289,3388,155452,30337,8334
1,6/3/2021 0:00,140747,225685,114894,110791,231460,966667,1423812,1.658393e+09,1231,131271,3388,155452,30337,8334
2,6/2/2021 0:00,146669,221316,111723,109593,229462,961421,1412199,1.651406e+09,1208,128029,3466,155053,30165,8282
3,6/1/2021 0:00,153497,211654,108947,102707,228692,960539,1400885,1.648229e+09,1212,126709,3520,154325,30045,8282
4,5/31/2021 0:00,155021,210406,108882,101524,228595,959964,1398965,1.645279e+09,1232,127630,3626,154348,30010,8274

In [10]:
cenRawDF.head()

,SUMLEV,REGION,DIVISION,STATE,NAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,...,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015,RNETMIG2016,RNETMIG2017,RNETMIG2018,RNETMIG2019,RNETMIG2020
0,10,0,0,0,United States,308745538,308758105,309327143,311583481,313877662,...,2.561705,2.745929,2.697816,2.980977,3.317393,3.308478,2.926260,2.208328,1.735857,1.450346
1,20,1,0,0,Northeast Region,55317240,55318414,55380764,55608318,55782661,...,0.951355,0.022910,-0.406301,-0.904675,-2.011990,-2.436197,-1.773545,-2.008364,-3.160710,-3.674490
2,20,2,0,0,Midwest Region,66927001,66929737,66975328,67164092,67348275,...,-0.883842,-0.895516,0.062390,-0.697566,-1.320504,-1.176126,-0.487257,-0.800567,-1.205668,-2.011623
3,20,3,0,0,South Region,114555744,114563042,114869421,116019483,117264196,...,5.218129,5.934440,5.373447,6.236211,7.355913,7.220696,6.272594,5.291755,5.479642,5.743507
4,20,4,0,0,West Region,71945553,71946912,72101630,72791588,73482530,...,2.752027,3.083047,3.183793,4.039593,5.004949,5.284859,4.022332,2.968883,1.822074,1.214309

In [11]:
cenRawDF.describe

<bound method NDFrame.describe of     SUMLEV REGION DIVISION  STATE                  NAME  CENSUS2010POP  \
0       10      0        0      0         United States      308745538
1       20      1        0      0      Northeast Region       55317240
2       20      2        0      0        Midwest Region       66927001
3       20      3        0      0          South Region      114555744
4       20      4        0      0           West Region       71945553
5       40      3        6      1               Alabama        4779736
6       40      4        9      2                Alaska         710231
7       40      4        8      4               Arizona        6392017
8       40      3        7      5              Arkansas        2915918
9       40      4        9      6            California       37253956
10      40      4        8      8              Colorado        5029196
11      40      1        1      9           Connecticut        3574097
12      40      3        5     10              Delaware         897934
13      40      3        5     11  District of Columbia         601723
14      40      3        5     12               Florida       18801310
15      40      3        5     13               Georgia        9687653
16      40      4        9     15                Hawaii        1360301
17      40      4        8     16                 Idaho        1567582
18      40      2        3     17              Illinois       12830632
19      40      2        3     18               Indiana        6483802
20      40      2        4     19                  Iowa        3046355
21      40      2        4     20                Kansas        2853118
22      40      3        6     21              Kentucky        4339367
23      40      3        7     22             Louisiana        4533372
24      40      1        1     23                 Maine        1328361
25      40      3        5     24              Maryland        5773552
26      40      1        1     25         Massachusetts        6547629
27      40      2        3     26              Michigan        9883640
28      40      2        4     27             Minnesota        5303925
29      40      3        6     28           Mississippi        2967297
30      40      2        4     29              Missouri        5988927
31      40      4        8     30               Montana         989415
32      40      2        4     31              Nebraska        1826341
33      40      4        8     32                Nevada        2700551
34      40      1        1     33         New Hampshire        1316470
35      40      1        2     34            New Jersey        8791894
36      40      4        8     35            New Mexico        2059179
37      40      1        2     36              New York       19378102
38      40      3        5     37        North Carolina        9535483
39      40      2        4     38          North Dakota         672591
40      40      2        3     39                  Ohio       11536504
41      40      3        7     40              Oklahoma        3751351
42      40      4        9     41                Oregon        3831074
43      40      1        2     42          Pennsylvania       12702379
44      40      1        1     44          Rhode Island        1052567
45      40      3        5     45        South Carolina        4625364
46      40      2        4     46          South Dakota         814180
47      40      3        6     47             Tennessee        6346105
48      40      3        7     48                 Texas       25145561
49      40      4        8     49                  Utah        2763885
50      40      1        1     50               Vermont         625741
51      40      3        5     51              Virginia        8001024
52      40      4        9     53            Washington        6724540
53      40      3        5     54         West Virginia        1852994
54      40      2        3     55             Wisconsin        5686986
55      40      4        8     56               Wyoming         563626
56      40      X        X     72           Puerto Rico        3725789

    ESTIMATESBASE2010  POPESTIMATE2010  POPESTIMATE2011  POPESTIMATE2012  ...  \
0           308758105        309327143        311583481        313877662  ...
1            55318414         55380764         55608318         55782661  ...
2            66929737         66975328         67164092         67348275  ...
3           114563042        114869421        116019483        117264196  ...
4            71946912         72101630         72791588         73482530  ...
5             4780118          4785514          4799642          4816632  ...
6              710246           713982           722349           730810  ...
7             6392292          6407342          6473416          6556344  ...
8             2916029          2921998          2941038          2952876  ...
9            37254522         37319550         37636311         37944551  ...
10            5029319          5047539          5121900          5193660  ...
11            3574151          3579173          3588632          3595211  ...
12             897947           899647           907590           915518  ...
13             601767           605282           620290           635737  ...
14           18804589         18846143         19055607         19302016  ...
15            9688737          9712209          9803630          9903580  ...
16            1360304          1364004          1379562          1395199  ...
17            1567658          1570819          1584272          1595910  ...
18           12831572         12840545         12867783         12883029  ...
19            6484050          6490555          6517250          6538989  ...
20            3046877          3050819          3066772          3076844  ...
21            2853120          2858266          2869677          2886024  ...
22            4339330          4348464          4370817          4387865  ...
23            4533500          4544635          4576244          4602067  ...
24            1328354          1327651          1328473          1328094  ...
25            5773787          5788784          5840241          5888375  ...
26            6547788          6566440          6614218          6664269  ...
27            9884112          9877597          9883053          9898289  ...
28            5303933          5310934          5346620          5377500  ...
29            2968129          2970615          2979147          2984599  ...
30            5988941          5996089          6011182          6026027  ...
31             989400           990730           997518          1004168  ...
32            1826311          1829591          1840914          1853691  ...
33            2700683          2702483          2713114          2744670  ...
34            1316457          1316807          1320444          1324677  ...
35            8791959          8799451          8828552          8845671  ...
36            2059199          2064614          2080707          2087715  ...
37           19378117         19399956         19499921         19574362  ...
38            9535762          9574586          9658913          9751810  ...
39             672575           674752           685526           702227  ...
40           11536763         11539449         11545735         11550971  ...
41            3751582          3760014          3788824          3819320  ...
42            3831083          3837614          3872672          3900102  ...
43           12702891         12711406         12747052         12769123  ...
44            1052970          1053994          1053829          1054893  ...
45            4625358          4635846          4672655          4719027  ...
46             814198           816193           823740           833859  ...
47            6346281          6355518          6400298          6455752  ...
48           25146072         25241897         25645504         26084120  ...
49            2763891          2775413          2814797          2854146  ...
50             625727           625886           627197           626361  ...
51            8001046          8024004          8102437          8187456  ...
52            6724540          6743009          6827479          6898599  ...
53            1853008          1854265          1856606          1857446  ...
54            5687285          5690538          5705840          5720825  ...
55             563775           564531           567491           576656  ...
56            3726157          3721525          3678732          3634488  ...

    RNETMIG2011  RNETMIG2012  RNETMIG2013  RNETMIG2014  RNETMIG2015  \
0      2.561705     2.745929     2.697816     2.980977     3.317393
1      0.951355     0.022910    -0.406301    -0.904675    -2.011990
2     -0.883842    -0.895516     0.062390    -0.697566    -1.320504
3      5.218129     5.934440     5.373447     6.236211     7.355913
4      2.752027     3.083047     3.183793     4.039593     5.004949
5      0.680010     1.282825     1.614391     0.653828     0.730419
6      0.771410     1.593769    -0.690531   -11.177859    -7.834606
7      4.370240     6.988463     6.458478     9.242074     9.693430
8      3.408814     0.920271     0.163360     0.007758     1.185511
9      1.223040     1.435840     1.578460     2.123048     1.895704
10     7.906828     7.558872     8.626362     9.254090    13.111544
11     0.323390    -0.322390    -1.588096    -1.882503    -3.680825
12     5.015391     4.990379     6.309049     6.594899     6.889946
13    16.930870    16.571300    17.015512    11.066317    12.776207
14     9.018528    10.653997    11.170469    13.286146    16.590127
15     3.041427     3.798407     1.747055     4.060100     5.814395
16     4.760957     5.209097     3.644766    -1.159284     0.426306
17     1.481415     0.650906     3.475102     6.201028     6.128333
18    -2.615495    -3.379544    -3.124039    -5.117050    -6.022604
19     0.182045    -0.373461     1.413777     0.372154    -0.842705
20     2.066173    -0.105150     2.397752     2.006261     0.657128
21    -1.233951     0.588981    -2.017878    -2.151422    -1.211511
22     2.194447     1.089433     1.706014    -0.385091     0.602976
23     2.181807     0.882080     1.070642    -0.153581     0.145604
24     0.948751    -0.164122     0.850700     2.618281    -0.373640
25     3.728601     3.356577     1.823327     1.254663     0.303634
26     4.363819     4.688637     5.138187     4.990793     2.754243
27    -1.896091    -0.858991    -0.447179    -0.489549    -1.470716
28     1.376488     0.463255     1.857819     1.757368     0.897165
29    -0.711625    -1.750242    -0.887113    -2.038875    -2.938087
30    -0.858813    -0.766457    -0.048720    -0.346386     0.241789
31     3.937135     3.547010     7.116789     5.330872     5.730832
32     0.678926     1.250472     1.270062     1.847952     1.016963
33    -1.832485     6.249056     6.676656     9.857233    12.493437
34     1.067020     1.921273     0.763966     4.542502     2.220278
35    -0.743590    -2.060741    -2.128281    -2.645514    -3.125002
36     2.255555    -1.655303    -2.337971    -5.685778    -4.095393
37     0.341749    -0.922397    -1.760166    -3.111259    -4.159320
38     4.476981     5.360027     6.038719     5.380203     6.730177
39    11.088910    17.719292    22.982006    14.347230    15.456346
40    -1.817096    -1.792377     0.416676     0.020184    -0.421975
41     3.717658     3.948926     5.109204     2.833283     4.526487
42     5.751019     4.008093     3.191887     7.479254    10.653071
43     1.636863     0.565210     0.037732    -0.092210    -0.853561
44    -1.347362    -0.550096    -0.507948     0.031249    -0.352986
45     4.574528     6.475943     7.388965     9.764287    11.762584
46     3.713566     6.671095     4.793005     1.842331     0.596128
47     4.126588     5.504801     3.705329     4.667080     5.307774
48     7.454773     8.754790     7.122359     9.977183    10.635288
49     0.896925     1.583717     3.176127     1.796783     3.971663
50     1.118840    -2.260765    -0.166006    -2.125696     0.142229
51     4.515193     5.187388     3.583584     2.331019     1.648411
52     7.004317     4.981467     4.573868     7.888314    10.508957
53     2.046959     0.966599    -0.685844    -1.651672    -2.443487
54    -0.690219    -0.780630     0.133347    -0.351399    -1.013883
55    -0.114839    10.280148     5.084208    -4.609793     0.448036
56   -14.533549   -14.982183   -13.803542   -18.263032   -18.480599

    RNETMIG2016  RNETMIG2017  RNETMIG2018  RNETMIG2019  RNETMIG2020
0      3.308478     2.926260     2.208328     1.735857     1.450346
1     -2.436197    -1.773545    -2.008364    -3.160710    -3.674490
2     -1.176126    -0.487257    -0.800567    -1.205668    -2.011623
3      7.220696     6.272594     5.291755     5.479642     5.743507
4      5.284859     4.022332     2.968883     1.822074     1.214309
5      0.854384     1.197150     1.966095     2.677866     3.091308
6     -3.716395   -10.748484   -13.990188   -11.049994    -9.424063
7     12.070918    10.906995    13.221913    14.861991    15.592211
8      1.555041     2.225940     1.163893     1.225231     2.335617
9      0.423889    -0.719482    -2.331265    -4.433695    -5.418644
10    10.794157     8.196562     9.525059     6.527963     4.948209
11    -4.075950    -2.507284    -1.302678    -3.291608    -2.781682
12     5.508299     6.448871     8.020044     8.924432    10.174807
13     8.323379     7.092019     3.726736     0.472954     2.089976
14    18.360711    15.666015    12.325152    10.672894    11.692995
15     7.200931     5.948622     5.638213     6.502924     4.765012
16    -1.144507    -6.727274    -5.890767    -8.232592    -7.927384
17    13.288053    15.780686    14.323327    16.505447    17.124575
18    -6.902067    -6.612399    -7.283085    -7.153597    -8.081000
19     0.784945     1.117296     2.950627     2.245208     1.492811
20     0.140351     0.747498    -0.551669     0.429511    -0.723689
21    -3.525597    -4.207856    -2.365187    -3.505349    -2.464627
22     0.472860     2.097147     0.563910     0.400151     0.425047
23    -1.361525    -5.246595    -5.019424    -3.973298    -4.386688
24     3.588275     4.200007     5.026410     5.924287     5.726450
25    -1.281143    -0.105524    -1.260777    -1.041241    -2.196560
26     2.140514     3.485396     1.557172    -0.045862    -1.003303
27     0.114236     0.822644    -0.182528    -1.467048    -2.351019
28     2.565635     3.405968     2.930745     1.492779    -0.424346
29    -2.150539    -1.783568    -4.187123    -3.256778    -4.514036
30     0.071342     1.263156     0.699007     0.446910     0.665960
31     7.749688     9.368325     5.841148     6.507685     9.252801
32     2.140821     0.621423    -0.059857    -1.256064    -1.698137
33    13.070296    13.844674    15.801568    16.233287    12.767317
34     4.268279     5.112674     3.956445     4.595251     4.808845
35    -3.229505    -1.367997    -2.646250    -2.726089    -3.032470
36    -2.174710    -2.547427    -1.645728     0.793153     1.858318
37    -5.361163    -6.052576    -6.248105    -7.280086    -8.696516
38     9.162920     8.431731     8.621813     8.238268     7.924858
39    -6.254089    -5.420165    -1.251305    -0.850513    -2.863248
40    -0.271597     0.984477     0.224016     0.175982    -0.841652
41     0.985117    -1.348810     0.341497     2.087760     3.652477
42    15.831479    11.198747     7.116936     6.410026     5.447393
43    -0.891771     0.370947     0.988682    -0.860903    -0.494955
44    -0.183477    -1.670474     1.993485    -1.563167    -0.984265
45    11.412271    11.195647    11.452342    11.852982    11.506454
46     5.327185     6.743313     1.638224     3.955816     2.061978
47     6.199161     7.813841     7.832548     6.093542     7.291889
48     8.355008     6.441445     5.403651     6.533503     7.436439
49     9.132584     8.984380     7.127047     5.856694     5.540764
50    -2.332472     1.703084     0.425622    -0.578133     0.128268
51     1.385288     2.514231     0.926632     1.984818     1.351940
52    13.366744    12.879083     9.204437     7.845812     7.417736
53    -4.225513    -5.229631    -4.237667    -3.190034    -2.092708
54    -0.540124     0.817232     0.923597     0.564557    -0.131764
55    -6.962937   -13.005080    -4.902299    -0.600430     2.241828
56   -19.848533   -23.228910   -37.860421     2.421520    -8.263003

[57 rows x 166 columns]>

## Load Raw Data into Database

In [12]:
connection = engine.connect()
connection.execute( '''TRUNCATE TABLE mass_raw; TRUNCATE TABLE census''' )

connection.close()

In [13]:
cenRawDF.head()

,SUMLEV,REGION,DIVISION,STATE,NAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,...,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015,RNETMIG2016,RNETMIG2017,RNETMIG2018,RNETMIG2019,RNETMIG2020
0,10,0,0,0,United States,308745538,308758105,309327143,311583481,313877662,...,2.561705,2.745929,2.697816,2.980977,3.317393,3.308478,2.926260,2.208328,1.735857,1.450346
1,20,1,0,0,Northeast Region,55317240,55318414,55380764,55608318,55782661,...,0.951355,0.022910,-0.406301,-0.904675,-2.011990,-2.436197,-1.773545,-2.008364,-3.160710,-3.674490
2,20,2,0,0,Midwest Region,66927001,66929737,66975328,67164092,67348275,...,-0.883842,-0.895516,0.062390,-0.697566,-1.320504,-1.176126,-0.487257,-0.800567,-1.205668,-2.011623
3,20,3,0,0,South Region,114555744,114563042,114869421,116019483,117264196,...,5.218129,5.934440,5.373447,6.236211,7.355913,7.220696,6.272594,5.291755,5.479642,5.743507
4,20,4,0,0,West Region,71945553,71946912,72101630,72791588,73482530,...,2.752027,3.083047,3.183793,4.039593,5.004949,5.284859,4.022332,2.968883,1.822074,1.214309

In [14]:
massRawDF.to_sql('mass_raw', engine, if_exists='append', index=False)
cenRawDF.to_sql('census_raw', engine, if_exists='append', index=False)

In [15]:
#check mass raw 
session.query(massRaw).count()

956

In [21]:
#check census raw
engine.execute('select count(*) from census_raw').fetchall()

[(57,)]